=rbt
  font-family: 'Roboto', sans-serif
body
  padding: 0
  margin: 0
  box-sizing: border-box
div
  box-sizing: border-box

.todo
  &__header
    background-color: #303F9F
    color: white
    height: 60px
    width: 100%
    padding: 16px
    +rbt
    font-size: 22px
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3)
  &__wrapper
    background-color: #F5F5F5
    width: 400px
    margin: 0 auto
    padding-bottom: 18px
    font-size: 14px
    +rbt
    border: 1px solid #EEEEEE
  &__filter
    display: flex
    justify-content: center
    margin-top: 18px
  &__inner
    padding: 8px
  &__item
    position: relative
    background-color: #4DD0E1
    min-height: 40px
    width: 100%
    padding: 12px
    margin: 12px 0
    border-radius: 3px
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    transition: 0.4s
    &:hover
      transition: 0.4s
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    &.done
      background-color: #EEEEEE
    &-del
      position: absolute
      top: 8px
      right: 8px
      cursor: pointer
  &__input
    height: 25px
    padding: 4px 12px
    +rbt
    width: 215px
    border: none
    outline: none
    border-bottom: 2px solid #E0E0E0
    transition: 0.4s
    background-color: #F5F5F5
    &:focus
      transition: 0.4s
      border-bottom: 2px solid #303F9F
    &-wrapper
      padding: 12px
    &-button
      height: 35px
      margin-left: 30px
      width: 90px
      background-color: #4DD0E1
      +rbt
      font-size: 15px
      border: none
      border-radius: 3px
      cursor: pointer
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      transition: 0.4s
      &:hover
        transition: 0.4s
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
      &:disabled
        box-shadow: none
        background-color: inherit
        color: #E0E0E0